.Card {
  padding: 20px;
  background: rgb(208, 210, 240);
  border-radius: 8px;
  display: grid;
  width: 250px;
  margin: 0 auto;
}

.Card--darkmode {
  background: #666;
  color: white;
}

.Card > div {
  display: flex;
  justify-content: space-evenly;
}
